body{
  overflow: hidden;
  background-color: #ccf5dc;
}


#menu{
  width: 15.5%;
  background-color: #ddf7e7;
}

.icons{
  width: 30px;
  height: 30px;
}

#selectMenu{
  background-color: #ccf5dc;
}


#list{
  margin-left: 15%;
  background-color: #ccf5dc;
}

#listAmis{
  height: 640px;
}

.lstAmi{
  border-bottom: 1px solid rgb(184, 182, 182);
}

#selectLst{
  background-color: #edeeed;
}

#msg{
  height: 580px;
}

.msgAmi{
  background-color: #ccf5dc;
}

.msgMoi{
  background-color: azure;
}

#i{
  background-color: azure;
}

#nbr{
  border-top: 1px solid rgb(151, 151, 151);
  border-bottom: 1px solid rgb(151, 151, 151);
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
